.header {
	.ant-menu{
		font-size: 12px;
		line-height: 30px;
	}
	.marquee{
		.marqueeItem{
			PriceIndicator{
				font-size: 8px;
			}
		}
	}
	.ant-menu{
		float: left;
		width: 600px;
	}
}