@font-face {
  font-family: 'DigitalNumber';
  src: local('DigitalNumber'), url(../fonts/Calculator.ttf) format('truetype');
}


$brightness :  0;
$fadeSpeed : .3;
$indicatorFont: 'DigitalNumber';
$indicatorFontWeight: 'bold';
$indicatorFontSize: '3em';

.base{
	font-size: $indicatorFontSize;
	font-weight: 200;
	font-family: $indicatorFont;
}

.up-on{
	@extend .base;
	color:rgb($brightness, 255, $brightness);
}

.down-on{
	@extend .base;
	color: rgb(255, $brightness, $brightness);
}

.same-on{
	@extend .base;
	color: rgb(255, 255, 255);
}


.up{
	@extend .base;
	color: rgb($brightness, 210, $brightness);
	transition: background $fadeSpeed;
	transition: color $fadeSpeed;
}
.down{
	@extend .base;
	color: rgb(210, $brightness, $brightness);
	transition: background $fadeSpeed;
	transition: color $fadeSpeed;
}
.same{
	@extend .base;
	color:  rgb(210, 210, 210);
	transition: background $fadeSpeed;
	transition: color $fadeSpeed;
}
