.marquee {
        margin: 0 auto;
        width: 100%;
        height: 30px;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
}

.marquee:before,
	.marquee:after {
	position: absolute;
	top: 0;
	width: 80px;
	height: 30px;
	content: "";
	z-index: 1;
}

.marquee:before {
	left: 0;
	background: linear-gradient(to right, #1f1f1f 10%, transparent 80%);
}

.marquee:after {
	right: 0;
	background: linear-gradient(to left, #1f1f1f 10%, transparent 80%);
}

.marquee__content {
	width: 100%;
	display: flex;
	line-height: 20px;
	animation: marquee 100s linear infinite forwards;
}

.marquee__content:hover {
	animation-play-state: paused;
}

.list-inline {
	display: flex;
	justify-content: space-around;
	width: 100%;
	/* reset list */
	list-style: none;
	padding: 0;
	margin: 0;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-66.6%);
	}

}

.marqueeItem {
	font-size: 100;
	width: 120px;
}