@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

.App{
  font-family: 'IBM Plex Mono', monospace;

}
.stockCard{
  margin: 1em;
  font-size: 12px;
}

.watchlist{
  width: 300px;
}